<ion-header>
  <ion-navbar color="primary">
      <button *ngIf="level != ''" ion-button menuToggle left>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Mi Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
     <ion-row >
      <ion-col>
        <ion-item *ngIf="levelId === '1'" no-lines>
          <img class="circle-pic" src="https://vignette.wikia.nocookie.net/bttf/images/0/0d/DocHD.jpg/revision/latest?cb=20101204171933">
          <div class="header-title" text-left>
            <p>Doc Brown</p>
            <hr>
          </div>
        </ion-item>
        <ion-item *ngIf="levelId === '2'" no-lines>
          <img class="circle-pic" src="https://s3-sa-east-1.amazonaws.com/lalegal/app/public/system/photos/7919/original/MartyMcfly.jpg?1449845387">
          <div class="header-title" text-left>
            <p>Marty McFly</p>
            <hr>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  <ion-card>
    <ion-row >
      <ion-col center text-center>
        <span class="card-title">Nivel</span>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col center text-center>
        <span class="card-subtitle">{{level}}</span>
      </ion-col>
    </ion-row>
  </ion-card>
  <br>
  <ion-list no-lines>
    <button ion-item class="item-font">
       Historial de canjes
    </button>
    <button class="item-font" ion-item menuClose (click)="openPage(p)">
      Configuración de notificaciones
    </button>
  </ion-list>
</ion-content>
<ion-footer no-shadow >
  <button class="item-font-footer" ion-item detail-none menuClose (click)="doCerrarSession()">
    <label class="item-fontred">Cerrar sesión</label>
  </button>
</ion-footer>


