page-tabs {
  /*
  .tabbar, .tabs-ios, .tabs-md , .tabs-wp{
    .tab-button-icon {
      background-repeat:no-repeat;
      background-position:center;
      height:24px;
      width:24px;
      background-size:contain;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      &:before {
        display:none;
      }
    }
  }

  .tabs-ios {
    a[aria-selected=false]{
      .tab-button-icon[ng-reflect-name=catalogo], .tab-button-icon[aria-label=catalogo] {
        background-image: url(../assets/icon/descuentos_desactivado.png);
      }
      .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
        background-image: url(../assets/icon/inicio_desactivado.png);
      }
      .tab-button-icon[ng-reflect-name=hot], .tab-button-icon[aria-label=hot] {
        background-image: url(../assets/icon/descuentos_desactivado.png);
      }
    }
    a[aria-selected=true] {
      //führ eventuellen text
      //span {
      //color: #f00; //whatever colour you want to use for the text
      //}
      .tab-button-icon[ng-reflect-name=catalogo], .tab-button-icon[aria-label=catalogo] {
        background-image: url(../assets/icon/descuentos_activado.png);
      }
      .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
        background-image: url(../assets/icon/inicio_activado.png);
      }
      .tab-button-icon[ng-reflect-name=hot], .tab-button-icon[aria-label=hot] {
        background-image: url(../assets/icon/descuentos_desactivado.png);
      }
    }
  }

  .tabs-md {
    a[aria-selected=false]{
      .tab-button-icon[ng-reflect-name=catalogo], .tab-button-icon[aria-label=catalogo] {
        background-image: url(../assets/icon/descuentos_desactivado.png);
      }
      .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
        background-image: url(../assets/icon/inicio_desactivado.png);
      }
      .tab-button-icon[ng-reflect-name=hot], .tab-button-icon[aria-label=hot] {
        background-image: url(../assets/icon/inicio_desactivado.png);
      }
    }

    a[aria-selected=true] {
      //führ eventuellen text
      //span {
      //color: #f00; //whatever colour you want to use for the text
      //}
      .tab-button-icon[ng-reflect-name=catalogo], .tab-button-icon[aria-label=catalogo] {
        background-image: url(../assets/icon/descuentos_activado.png);
      }
      .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
        background-image: url(../assets/icon/inicio_activado.png);
      }
      .tab-button-icon[ng-reflect-name=hot], .tab-button-icon[aria-label=hot] {
        background-image: url(../assets/icon/inicio_activado.png);
      }
    }
  }

  .tabs-wp {
    a[aria-selected=false]{
      .tab-button-icon[ng-reflect-name=catalogo], .tab-button-icon[aria-label=catalogo] {
        background-image: url(../assets/icon/descuentos_desactivado.png);
      }
      .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
        background-image: url(../assets/icon/inicio_desactivado.png);
      }
      .tab-button-icon[ng-reflect-name=hot], .tab-button-icon[aria-label=hot] {
        background-image: url(../assets/icon/inicio_desactivado.png);
      }
    }

    a[aria-selected=true] {
      //führ eventuellen text
      //span {
      //color: #f00; //whatever colour you want to use for the text
      //}
      .tab-button-icon[ng-reflect-name=catalogo], .tab-button-icon[aria-label=catalogo] {
        background-image: url(../assets/icon/descuentos_activado.png);
      }
      .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
        background-image: url(../assets/icon/inicio_activado.png);
      }
      .tab-button-icon[ng-reflect-name=hot], .tab-button-icon[aria-label=hot] {
        background-image: url(../assets/icon/inicio_activado.png);
      }
    }
  }
  */
}
