@import '../../theme/variables.scss';
page-geolocation {
  .card-content-md,
  .card-content-ios {
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .card-md,
  .card-ios {
    margin: 2px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  }
  .card-footer {
    margin-top: auto;
  }
  .card-distance {
    color: map-get($colors, primary);
    font-size: 1.3rem !important;
    font-weight: bold;
    text-align: right;
  }
  .card-description {
    color: map-get($colors, light);
    font-size: 1.2rem !important;
  }
  .card-image {
    @media screen and (max-width: 400px) {
      min-height: 95px !important;
      max-height: 95px !important;
    }
  }
  .page-title{
    text-align: center;
    color: map-get($colors, dark);
  }
  #map {
    width: 100%;
    height: 50%;
    opacity: 0;
    transition: opacity 150ms ease-in;
    display: block;
    &.show-map {
      opacity: 1;
    }
  }
}
