@import '../../theme/variables.scss';
page-tab-catalogo {
  .card-content-md,
  .card-content-ios {
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .card-md,
  .card-ios {
    margin: 2px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  }
  .card-footer {
    margin-top: auto;
  }
  .card-category {
    color: map-get($colors, dark);
    font-size: 1.2rem !important;
    font-weight: bold;
  }
  .card-description {
    color: map-get($colors, light);
    font-size: 1.2rem !important;
  }
  .card-image {
    @media screen and (max-width: 400px) {
      min-height: 95px !important;
      max-height: 95px !important;
    }
  }
  .column-button,
  .button-item {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .button-item {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    font-weight: 100;
    border-radius: 3px;
  }
  .button-inner {
    padding-left: 10px;
    justify-content:flex-start;
  }
  .label{
    margin-right: 0px !important;
  }
  .item-inner{
    margin-left: 0px !important;
    padding-right: 1px !important;
  }
}
