<ion-menu [content]="content">

  <ion-content class="card-background-page">

    <ion-card *ngIf="globals.levelId === '1'" fullscreen="true">
      <img class="image-back" src="assets/imgs/menu_back.jpg">
      <img class="circle-pic" src="https://vignette.wikia.nocookie.net/bttf/images/0/0d/DocHD.jpg/revision/latest?cb=20101204171933">

      <div class="card-subtitle">doc.brown@gmail.com</div>
    </ion-card>

    <ion-card *ngIf="globals.levelId === '2'" fullscreen="true">
      <img class="image-back" src="assets/imgs/menu_back.jpg">
      <img class="circle-pic" src="https://s3-sa-east-1.amazonaws.com/lalegal/app/public/system/photos/7919/original/MartyMcfly.jpg?1449845387">

      <div class="card-subtitle">marty.mcfly@gmail.com</div>
    </ion-card>

    <br>
    <ion-list no-lines>
      <button ion-item class="item-font" menuClose (click)="openPage(p)">
        <img class="circle-icon" src="assets/imgs/gray-circle.png">&nbsp;&nbsp;
         Preguntas frecuentes
      </button>
      <button class="item-font" ion-item menuClose (click)="openPage(p)">
        <img class="circle-icon" src="assets/imgs/gray-circle.png">&nbsp;&nbsp;
        Legales
      </button>
      <button class="item-font" ion-item menuClose  (click)="openPage(p)">
        <img class="circle-icon" src="assets/imgs/gray-circle.png"/>&nbsp;&nbsp;
        Más aplicaciones
      </button>
    </ion-list>
  </ion-content>
  <ion-footer no-shadow class="card-background-page">
    <ion-list no-lines >
      <button class="item-font" ion-item  detail-none menuClose (click)="doCerrarSession()">
        <img class="circle-icon" src="assets/imgs/gray-circle.png">&nbsp;&nbsp;
        <label class="item-fontred">Cerrar sesión</label>
      </button>
    </ion-list>
  </ion-footer>

</ion-menu>

<!-- main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
