/*
Error: File to import not found or unreadable: ionic.globals.
        on line 15 of ../../theme/variables.scss
        from line 1 of stores.scss

10:     &.show-map {
11:       opacity: 1;
12:     }
13:   }
14: }

Backtrace:
../../theme/variables.scss:15
stores.scss:1
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/import_node.rb:67:in `rescue in import'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/import_node.rb:45:in `import'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/import_node.rb:28:in `imported_file'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/import_node.rb:37:in `css_import?'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:313:in `visit_import'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `map'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/stack.rb:88:in `block in with_import'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/stack.rb:88:in `with_import'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
C:/java/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.23/bin/scss:13:in `<top (required)>'
C:/java/Ruby193/bin/scss:23:in `load'
C:/java/Ruby193/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ionic.globals.\A         on line 15 of ../../theme/variables.scss\A         from line 1 of stores.scss\A \A 10:     &.show-map {\A 11:       opacity: 1;\A 12:     }\A 13:   }\A 14: }"; }
